*.iml
.gradle
**/build/
**/release/
xcuserdata
!src/**/build/
!src/**/release/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
release-keystore.jks
google_services.json
key.jks.base64.txt